<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <script type="module" src="/static/style.css"></script>
        <title>Vite Hot Reloading</title>
    </head>
    <body>
        <h1>Welcome to Hot Reloading.</h1>

        <script>
            const socket = new WebSocket("ws://localhost:3000");
            socket.onmessage = (event) => {
                if (event.data === "reload") {
                    window.location.reload();
                };
            };

            socket.onerror = (error) => {
                console.error('WebSocket error:', error);
            };
    
            // Event handler for when the WebSocket connection is closed
            socket.onclose = () => {
                console.log('WebSocket connection closed');
            };
        </script>
    </body>
</html>
